<nav>
  <div class='content'>
    <div class='pages'>
      <ul>
        {% for item in site.data.nav[page.lang] %}
          <li>
            <a href='{{ item[1].url }}'>{{ item[1].name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='logo'>
      <h1>Pasieka Rzeszot</h1>
    </div>
    <div class='languages'>
      <ul>
        {% for lang in site.data.languages %}
          {% assign langauge=lang[1] %}
          <li>
            <a href="{{ site.data.nav[langauge.code].blog.url }}" class="{{ langauge.code }}">{{ langauge.icon }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
