.blog
  margin: 160px 0 60px 0
  padding: 50px

  article

    & + article
      margin-top: 50px

    > h1
      color: $text-primary
      font-size: 24px

    > div
      margin: 10px 0
      color: $text-primary
      font-size: 16px

      > hr
        margin: 20px 0
        border: none
        border-top: 1px solid #eee

    > span
      color: $text-secondary
      font-size: 15px
