---

---
<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}

    <div class='container'>
      <section>
        {% assign posts=site.posts | where: "lang", page.lang %}
        <ul>
          {% for post in posts %}
            <li>
              <h1>{{ post.title }}</h1>
              <div>
                {{ post.excerpt }}
              </div>
              <a href="#">Read the guide →</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
