{% assign posts=site.posts | where: "lang", page.lang %}
<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include nav.html %}

    <section class='container blog'>
      {% for post in posts %}
        <article>
          <h1>{{ post.title }}</h1>
          <div>
            {{ post.excerpt }}
          </div>
          <a href="{{ post.url | absolute_url }}">Read the guide →</a>
            <span>
              {% if page.lang == "pl" %}
              {{ post.date | date_polish }}
              {% else %}
                {{ post.date | date: "%B %d, %Y" }}
              {% endif %}
            </span>
        </article>
      {% endfor %}
    </section>

    {% include footer.html %}
  </body>
</html>
